@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "PwC Research Resourcing Tool - Create New Request";
}

@Html.AntiForgeryToken()


<script>

</script>
<div class="topnav">
    <a href="/Projects/Index" onclick="return confirm('By leaving this page without submitting, you will lose any data you have entered.')" class="active head-a" style="cursor:pointer; background-color:#333;font-weight:bold; text-transform:uppercase; letter-spacing:3px; ">< HOME</a>

    <span class="active" style="background-color:#790000;font-weight:bold; text-transform:uppercase; letter-spacing:3px; ">Create a request</span>

    <div class="topnav-right">
        @if (@User.Identity.IsAuthenticated)
        {
            <span>Welcome, @User.Identity.Name</span>
            <a href="/Projects/ChangePassword" onclick="return confirm('By leaving this page without submitting, you will lose any data you have entered.')">Change Password</a>
            <a href="/Projects/Logout" onclick="return confirm('By leaving this page without submitting, you will lose any data you have entered.')">Logout</a>
        }@if (!@User.Identity.IsAuthenticated)
        {
            <a href="/Projects/Login">Login</a>
        }
    </div>
</div>


<div style="height:10px; background-color:#790000; width:100%;"></div>
<form action='Create' method="post" class='form'>
    <p class='field required'>
        <label class='label required' for='ProjectName'>Project Name</label>
        <input class='text-input' id='ProjectName' name='ProjectName' required type='text'>
    </p>

    <p class='field required half'>
        <label class='label' for='ProjectClient'>Client</label>
        <input class='text-input' id='ProjectClient' name='ProjectClient' required type='text'>
    </p>
    <p class='field required half'>
        <label class='label' for='ProjectLead'>Project Lead</label>
        <input class='text-input' id='ProjectLead' name='ProjectLead' required type='text'>
    </p>

    <div class='field required'>
        <label class='label'>Sector</label>
        <ul class='options'>
            <li class='option'>
                <input class='option-input' id='option-0' name='option' type='radio' value='PwC'>
                <label class='option-label' for='option-0'>PwC</label>
            </li>
            <li class='option'>
                <input class='option-input' id='option-1' name='option' type='radio' value='FS'>
                <label class='option-label' for='option-1'>FS</label>
            </li>
            <li class='option'>
                <input class='option-input' id='option-2' name='option' type='radio' value='C&BS'>
                <label class='option-label' for='option-2'>C&amp;BS</label>
            </li>
        </ul>
    </div>

    <input type="hidden" id="ProjectSector" name="ProjectSector" value="PwC" />

    <p class='field required'>
        <label class='label ' for='about'>Nature of Project (e.g. qual, quant, diagnostics, etc)</label>
        <textarea class='textarea' cols='50' id='ProjectNature' name='ProjectNature' required rows='2'></textarea>
    </p>

    <p class='field required'>
        <label class='label ' for='about'>Scope (no of interviews, groups, etc.)</label>
        <textarea class='textarea' cols='50' id='ProjectScope' name='ProjectScope' required rows='1'></textarea>
    </p>




    <p class='field required half'>
        <label class='label' for='phone'>Estimated Briefing</label>
        <input class='text-input' id='EstimatedBriefing' name='EstimatedBriefing' required type='date'>
    </p>
    <p class='field required half'>
        <label class='label' for='phone'>Fieldwork Start</label>
        <input class='text-input' id='FieldworkStart' name='FieldworkStart' required type='date'>
    </p>

    <p class='field required half'>
        <label class='label' for='phone'>Fieldwork End</label>
        <input class='text-input' id='FieldworkEnd' name='FieldworkEnd' required type='date'>
    </p>
    <p class='field required third'>
        <label class='label' for='phone'>Analysis/Reporting Start</label>
        <input class='text-input' id='AlysRepStart' name='AlysRepStart' required type='date'>
    </p>
    <p class='field required third'>
        <label class='label' for='phone'>Analysis/Reporting End</label>
        <input class='text-input' id='AlysRepEnd' name='AlysRepEnd' required type='date'>
    </p>
    <p class='field required half'>
        <label class='label' for='phone'>Estimated Debriefing</label>
        <input class='text-input' id='EstimatedBriefing' name='EstimatedDebriefing' required type='date'>
    </p>





    <p class='field required'>
        <label class='label' for='about'>Key Information (project detail, prohect history, broad resource requirement, key skills required, any key account personnel to consider, specific requests)</label>
        <textarea class='textarea' cols='50' id='KeyInformation' name='KeyInformation' required rows='5'></textarea>
    </p>


    <p class='field'>
        <label class='label' for='about'>Special Requirements (e.g. BPSS clearance)</label>
        <textarea class='textarea' cols='50' id='SpecialRequirements' name='SpecialRequirements' rows='2'></textarea>
    </p>




    <label class='label required' style="width: 100%;" for='phone'>Number of staff required per grade</label>
    <p class='field sept'>
        <label class='label labsmall' for='NumDirectorsRequired'>Directors</label>
        <input class='text-input' id='NumDirectorsRequired' name='NumDirectorsRequired' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='NumSeniorManagersRequired'>Senior Managers</label>
        <input class='text-input' id='NumSeniorManagersRequired' name='NumSeniorManagersRequired' value="0" required type='number'>
    </p>

    <p class='field sept'>
        <label class='label labsmall' for='NumManagersRequired'>Managers</label>
        <input class='text-input' id='NumManagersRequired' name='NumManagersRequired' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='NumSeniorAssociate2Required'>Senior Associate 2</label>
        <input class='text-input' id='NumSeniorAssociate2Required' name='NumSeniorAssociate2Required' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='NumSeniorAssociate1Required'>Senior Associate 1</label>
        <input class='text-input' id='NumSeniorAssociate1Required' name='NumSeniorAssociate1Required' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='NumAssociate2Required'>Associate 2</label>
        <input class='text-input' id='NumAssociate2Required' name='NumAssociate2Required' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='NumAssociate1Required'>Associate 1</label>
        <input class='text-input' id='NumAssociate1Required' name='NumAssociate1Required' value="0" required type='number'>
    </p>






    <label class='label required' style="width: 100%;" for='phone'>Number of days staff required</label>
    <p class='field sept'>
        <label class='label labsmall' for='DaysDirectorsRequired'>Directors</label>
        <input class='text-input' id='DaysDirectorsRequired' name='DaysDirectorsRequired' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='DaysSeniorManagersRequired'>Senior Managers</label>
        <input class='text-input' id='DaysSeniorManagersRequired' name='DaysSeniorManagersRequired' value="0" required type='number'>
    </p>

    <p class='field sept'>
        <label class='label labsmall' for='DaysManagersRequired'>Managers</label>
        <input class='text-input' id='DaysManagersRequired' name='DaysManagersRequired' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='DaysSeniorAssociate2Required'>Senior Associate 2</label>
        <input class='text-input' id='DaysSeniorAssociate2Required' name='DaysSeniorAssociate2Required' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='DaysSeniorAssociate1Required'>Senior Associate 1</label>
        <input class='text-input' id='DaysSeniorAssociate1Required' name='DaysSeniorAssociate1Required' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='DaysAssociate2Required'>Associate 2</label>
        <input class='text-input' id='DaysAssociate2Required' name='DaysAssociate2Required' value="0" required type='number'>
    </p>
    <p class='field sept'>
        <label class='label labsmall' for='DaysAssociate1Required'>Associate 1</label>
        <input class='text-input' id='DaysAssociate1Required' name='DaysAssociate1Required' value="0" required type='number'>
    </p>
    <label class='label required' style="width: 100%;" for='phone'>Tech Resource Requirement (Total days at each grade)</label>
    <table>
        <thead>
            <tr>
                <th class="label labsmall techtab"></th>
                <th class="label labsmall techtab">Start Date</th>
                <th class="label labsmall techtab">End Date</th>
                <th class="label labsmall techtab">M</th>
                <th class="label labsmall techtab">SA2</th>
                <th class="label labsmall techtab">SA1</th>
                <th class="label labsmall techtab">A2</th>
                <th class="label labsmall techtab">A1</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" id="2">
                <td class="label labsmall techtab colIn">Data Capture</td>
                <td class=""><input class='text-input' id='DCStartDate' name='DCStartDate' required type='date'></td>
                <td class=""><input class='text-input' id='DCEndDate' name='DCEndDate' required type='date'></td>
                <td class=""><input class='text-input' id='DCTotalM' name='DCTotalM' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DCTotalSA2' name='DCTotalSA2' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DCTotalSA1' name='DCTotalSA1' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DCTotalA2' name='DCTotalA2' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DCTotalA1' name='DCTotalA1' value="0" required type='number'></td>
                <td></td>
            </tr>
            <tr class="" id="2">
                <td class="label labsmall techtab colIn">Data Analysis</td>
                <td class=""><input class='text-input' id='DAStartDate' name='DAStartDate' required type='date'></td>
                <td class=""><input class='text-input' id='DAEndDate' name='DAEndDate' required type='date'></td>
                <td class=""><input class='text-input' id='DATotalM' name='DATotalM' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DATotalSA2' name='DATotalSA2' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DATotalSA1' name='DATotalSA1' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DATotalA2' name='DATotalA2' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DATotalA1' name='DATotalA1' value="0" required type='number'></td>
                <td></td>
            </tr>
            <tr class="" id="2">
                <td class="label labsmall techtab colIn">Data Visualisation</td>
                <td class=""><input class='text-input' id='DVStartDate' name='DVStartDate' required type='date'></td>
                <td class=""><input class='text-input' id='DVEndDate' name='DVEndDate' required type='date'></td>
                <td class=""><input class='text-input' id='DVTotalM' name='DVTotalM' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DVTotalSA2' name='DVTotalSA2' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DVTotalSA1' name='DVTotalSA1' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DVTotalA2' name='DVTotalA2' value="0" required type='number'></td>
                <td class=""><input class='text-input' id='DVTotalA1' name='DVTotalA1' value="0" required type='number'></td>
                <td></td>   
            </tr>

        </tbody>
    </table>

    <p class='field required half'>
        <label class='label' for='phone'>Response Needed By</label>
        <input class='text-input' id='ResponseNeededBy' name='ResponseNeededBy' required type='date'>
    </p>

    <p class='field half'>
        <input class='button' type='submit' value='Send'>
    </p>

    <input type='hidden' id='Status' name='Status' value="Submitted">


    <input type='hidden' id='DateSubmitted' name='DateSubmitted' value="@DateTime.Now">

    <input type='hidden' id='fk_UserName_Requester' name='fk_UserName_Requester' value="@User.Identity.GetUserName()">

    <input type="hidden" id="fk_UserId_Requester" name="fk_UserId_Requester" value="@User.Identity.GetUserId()" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $("#option-0").trigger("click");
    </script>
</form>
