@model IEnumerable<ResourcingTool.Models.Project>

@{
    ViewBag.Title = "PwC Research Resourcing Tool - Index";
}

<div class="topnav">
    <span class="active" style="background-color:#790000; font-weight:bold; text-transform:uppercase; letter-spacing:3px; ">Resourcing Tool</span>

    <div class="topnav-right">
        @if (@User.Identity.IsAuthenticated)
        {
            <span>Welcome, @User.Identity.Name</span>
            <a href="/Projects/ChangePassword">Change Password</a>
            <a href="/Projects/Logout">Logout</a>
        }@if (!@User.Identity.IsAuthenticated)
        {
            <a href="/Projects/Login">Login</a>
        }
    </div>
</div>

<style>
    .btn-4 {
        margin: 0 auto !important;
        display: table !important;
    }
    .hold{
        padding:20px !important;
    }
</style>
@if (User.IsInRole("Requester") || User.IsInRole("Admin"))
{
    <div class="cont">
            <!-- Top Navigation -->
        <section href="/Projects/Create" class="color-4">
            <div class="hold">
                <a href="/Projects/Create" class="btn btn-4 btn-4c icon-arrow-right">Submit resourcing request</a>
            </div>
        </section>
    </div><!-- /container -->
}
<div class="limiter">


    @using Microsoft.AspNet.Identity
    


    <div class="wrap-table100">
        <div class="table100 ver5 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Project Name</th>
                            <th class="cell100 column2">Sector</th>
                            <th class="cell100 column3">Client</th>
                            <th class="cell100 column4">Nature of project</th>
                            <th class="cell100 column5">Scope</th>
                            <th class="cell100 column6">Start</th>
                            <th class="cell100 column7">Finish</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table100-body js-pscroll">
                <table>
                    <tbody>
                        @if (User.IsInRole("Requester"))
                        {

                            foreach (var item in Model.OrderBy(item=>item.ResponseNeededBy))
                            {
                                if (item.fk_UserId_Requester == Convert.ToInt32(User.Identity.GetUserId()))
                                {

                        <tr class="row100 body datarow" id="@item.ProjectId">
                            <td class="cell100 column1">@Html.DisplayFor(modelItem => item.ProjectName)</td>
                            <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ProjectSector)</td>
                            <td class="cell100 column3">@Html.DisplayFor(modelItem => item.ProjectClient)</td>
                            <td class="cell100 column4">@Html.DisplayFor(modelItem => item.ProjectNature)</td>
                            <td class="cell100 column5">@Html.DisplayFor(modelItem => item.ProjectScope)</td>
                            @{
                                string dateValue = item.ContractStart.ToString("d/M/yyyy");
                                string dateValue2 = item.ContractFinish.ToString("d/M/yyyy");
                            }
                            <td class="cell100 column6">@Html.DisplayFor(modelItem => dateValue)</td>
                            <td class="cell100 column7">@Html.DisplayFor(modelItem => dateValue2)</td>
                        </tr>
                                        }
                                    }
                                }
                                else if (User.IsInRole("Admin") || User.IsInRole("Resourcer"))
                                {
                                    foreach (var item in Model.OrderBy(item => item.ResponseNeededBy))
                                    {
                                        if (item.Status == "Submitted")
                                        {
                                    <tr class="row100 body datarow" id="@item.ProjectId">
                                        <td class="cell100 column1">@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ProjectSector)</td>
                                        <td class="cell100 column3">@Html.DisplayFor(modelItem => item.ProjectClient)</td>
                                        <td class="cell100 column4">@Html.DisplayFor(modelItem => item.ProjectNature)</td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => item.ProjectScope)</td>
                                        @{
                                        string dateValue = item.ContractStart.ToString("d/M/yyyy");
                                        string dateValue2 = item.ContractFinish.ToString("d/M/yyyy");
                                        }
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => dateValue)</td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => dateValue2)</td>

                                    </tr>

                                }
                            }
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
