@model IEnumerable<ResourcingTool.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using  Microsoft.AspNet.Identity
<div class="topbar">
    @if (@User.Identity.IsAuthenticated)
    {
        <p class="welcometext">Welcome, <span class="name">@User.Identity.Name </span> &#124 <a href="/Projects/ChangePassword">Change Password</a> &#124 <a href="/Projects/Logout">Logout</a></p>

    }
    @if (!@User.Identity.IsAuthenticated)
    {
        <div class="welcometext">
            <a href="/Projects/Login">Login</a>
        </div>
    }

</div>

<p>
    @if (User.IsInRole("Requester") || User.IsInRole("Admin"))
    {
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectSector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectLead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectNature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectScope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Briefing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fieldwork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Analysis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reporting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Debrief)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumDirectorsRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSeniorManagersRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumManagersRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSeniorAssociate2Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSeniorAssociate1Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAssociate2Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAssociate1Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysDirectorsRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysSeniorManagersRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysManagersRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysSeniorAssociate2Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysSeniorAssociate1Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysAssociate2Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysAssociate1Required)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponseNeededBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_UserId_Requester)
        </th>
        <th></th>
    </tr>
    @if (User.IsInRole("Requester"))
    {
        foreach (var item in Model)
        {
            if (item.fk_UserId_Requester == Convert.ToInt32(User.Identity.GetUserId()))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectSector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectLead)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectNature)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectScope)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractFinish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Briefing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fieldwork)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Analysis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reporting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Debrief)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyInformation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialRequirements)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumDirectorsRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSeniorManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSeniorAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSeniorAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysDirectorsRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysSeniorManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysSeniorAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysSeniorAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResponseNeededBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fk_UserId_Requester)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                    </td>
                </tr>
            }
        }
    }
    else if (User.IsInRole("Admin") || User.IsInRole("Resourcer"))
    {
        foreach (var item in Model)
        {
            if (item.Status == "Submitted")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectSector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectLead)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectNature)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectScope)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractFinish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Briefing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fieldwork)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Analysis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reporting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Debrief)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeyInformation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialRequirements)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumDirectorsRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSeniorManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSeniorAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumSeniorAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysDirectorsRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysSeniorManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysManagersRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysSeniorAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysSeniorAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysAssociate2Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysAssociate1Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResponseNeededBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fk_UserId_Requester)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                    </td>
                </tr>
            }
        }
    }
</table>

