@model IEnumerable<ResourcingTool.Models.Project>

@{
    ViewBag.Title = "PwC Research Resourcing Tool - Index";
}
<div class="topbar">

        
    @if (@User.Identity.IsAuthenticated)
    {
        <p class="welcometext">Welcome, <span class="name">@User.Identity.Name </span> &#124 <a href="/Projects/ChangePassword">Change Password</a> &#124 <a href="/Projects/Logout">Logout</a></p>

    }
    @if (!@User.Identity.IsAuthenticated)
    {
        <div class="welcometext">
            <a href="/Projects/Login">Login</a>
        </div>
    }

</div>

<div class="top">
    <div class="headerbar">
        <div class="title">
            
        </div>
    </div>
   
</div>


<div class="limiter">


    @using Microsoft.AspNet.Identity
    <h2>Resourcing Request Tool</h2>
    <div class="createButton">
        @if (User.IsInRole("Requester") || User.IsInRole("Admin"))
        {
            <div href="/Projects/Create" class="buttn" style="color:white; cursor: pointer; ">
                <span class="left title">Create a new resourcing request</span>
                <span class="right icon icon-comment">></span>
            </div>

        }
    </div>


    <div class="wrap-table100">
        <div class="table100 ver5 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Project Name</th>
                            <th class="cell100 column2">Sector</th>
                            <th class="cell100 column3">Client</th>
                            <th class="cell100 column4">Nature of project</th>
                            <th class="cell100 column5">Scope</th>
                            <th class="cell100 column6">Start</th>
                            <th class="cell100 column7">Finish</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table100-body js-pscroll">
                <table>
                    <tbody>
                        @if (User.IsInRole("Requester"))
                        {

                            foreach (var item in Model)
                            {
                                if (item.fk_UserId_Requester == Convert.ToInt32(User.Identity.GetUserId()))
                                {

                                    <tr class="row100 body datarow" id="@item.ProjectId">
                                        <td class="cell100 column1">@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ProjectSector)</td>
                                        <td class="cell100 column3">@Html.DisplayFor(modelItem => item.ProjectClient)</td>
                                        <td class="cell100 column4">@Html.DisplayFor(modelItem => item.ProjectNature)</td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => item.ProjectScope)</td>
                                        <td class="cell100 column6">@Html.DisplayFor(modelItem => item.ContractStart)</td>
                                        <td class="cell100 column7">@Html.DisplayFor(modelItem => item.ContractFinish)</td>
                                    </tr>
                                }
                            }
                        }
                        else if (User.IsInRole("Admin") || User.IsInRole("Resourcer"))
                        {
                            foreach (var item in Model)
                            {
                                if (item.Status == "Submitted")
                                {
                                    <tr class="row100 body datarow" id="@item.ProjectId">
                                        <td class="cell100 column1">@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                        <td class="cell100 column2">@Html.DisplayFor(modelItem => item.ProjectSector)</td>
                                        <td class="cell100 column3">@Html.DisplayFor(modelItem => item.ProjectClient)</td>
                                        <td class="cell100 column4">@Html.DisplayFor(modelItem => item.ProjectNature)</td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => item.ProjectScope)</td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => item.ContractStart)</td>
                                        <td class="cell100 column5">@Html.DisplayFor(modelItem => item.ContractFinish)</td>

                                    </tr>

                                }
                            }
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
