@model IEnumerable<ResourcingTool.Models.Project>
@{
    ViewBag.Title = "Statistics";
}

@{
    int pwcTotal = 0;
    int fsTotal = 0;
    int cbsTotal = 0;
    List<string> users = new List<string>();
    List<string> techStats = new List<string>();
}

@foreach (var item in Model)
{
    if (item.ProjectSector == "PwC")
    {
        pwcTotal++;
    }
    else if (item.ProjectSector == "FS")
    {
        fsTotal++;
    }
    else if (item.ProjectSector == "C&BS")
    {
        cbsTotal++;
    }

    users.Add(item.fk_UserName_Requester);
    techStats.Add(item.TechRequired.ToString());

}

@{ 
    var distinctUsers =
    users.GroupBy(x => x)
              .Select(g => new {
                  Name = g.Key, ItemsCount = g.Count()
              });
}

@{ 
    var orderedUsers = distinctUsers.OrderByDescending(y => y.ItemsCount);
}

@{ 
    var techStatsDisplay = techStats.GroupBy(x => x)
              .Select(g => new
              {
                  Name = g.Key,
                  ItemsCount = g.Count()
              });

    var orderedTechStats = techStatsDisplay.OrderByDescending(z => z.ItemsCount);
}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/Projects/Index">Resourcing Request Tool</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" id="searchBar" class="form-control" style="display:none "placeholder="Search for a request" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button style="display:none" class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0 form-inline">

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right " style="text-align:right" aria-labelledby="userDropdown">
                <span class="dropdown-item" style="font-style:italic">Welcome, @User.Identity.Name</span>
                <a class="dropdown-item" href="/Home/ChangePassword">Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Projects/Create">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Create a request</span>
            </a>
        </li>
        @if (User.IsInRole("Resourcer") || User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Projects/Statistics">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>Statistics [Beta]</span>
                </a>
            </li>
        }
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Users/Index">
                        <i class="fas fa-fw fa-user"></i>
                        <span>User Accounts</span>
                    </a>
                </li>
            }
        </ul>

    <div id="content-wrapper">
        <div id="highcharts">

        </div>

        The top 5 resource requesters are:<br /><br />
        <i><b>@orderedUsers.ElementAt(0).Name</b> with @orderedUsers.ElementAt(0).ItemsCount requests.<br />
        <b>@orderedUsers.ElementAt(1).Name</b> with @orderedUsers.ElementAt(1).ItemsCount requests.<br />
        <b>@orderedUsers.ElementAt(2).Name</b> with @orderedUsers.ElementAt(2).ItemsCount requests.<br />
        <b>@orderedUsers.ElementAt(3).Name</b> with @orderedUsers.ElementAt(3).ItemsCount requests.<br />
        <b>@orderedUsers.ElementAt(4).Name</b> with @orderedUsers.ElementAt(4).ItemsCount requests.<br /></i>

        <br /><br />
        <i><b>@orderedTechStats.ElementAt(0).ItemsCount</b> jobs required tech whereas <b>@orderedTechStats.ElementAt(1).ItemsCount</b> jobs didn't.</i>


    </div>
    <!-- /.content-wrapper -->

</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

@*<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>*@

<script>
    Highcharts.setOptions({
        colors: ['#DB536A', '#DC6900', '#E0301E']
    });

    Highcharts.chart('highcharts', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'PwC Research - Resourcing Request Sector Breakdown'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'PwC Research Sectors',
            colorByPoint: true,
            data: [{
                name: 'PwC',
                y: @pwcTotal,
            }, {
                name: 'FS',
                y: @fsTotal
            }, {
                name: 'C&BS',
                y: @cbsTotal
            }]
        }]
    });
</script>

