<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Arimo|Fira+Sans|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/component.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/reset.css")

    @Styles.Render("~/Content/filters.css")

    @Styles.Render("~/Content/formstyling.css")

    @Styles.Render("~/Content/default.css")
    @Styles.Render("~/Content/demo.css")



    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("/Scripts/singleselectset.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/formvalidation.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
