<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Arimo|Fira+Sans|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/reset.css")

    @Styles.Render("~/Content/filters.css")

    @Styles.Render("~/Content/formstyling.css")

    @Styles.Render("~/Content/demo.css")
    @Styles.Render("~/Content/additional.css")
    @Styles.Render("~/Content/modal.css")

    @Styles.Render("~/Content/table/util.css")
    @Styles.Render("~/Content/table/main.css")
    @Styles.Render("~/Content/table/animate.css")
    @Styles.Render("~/Content/table/select2.min.css")
    @Styles.Render("~/Content/table/perfect-scrollbar.css")

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    @Styles.Render("~/Content/component.css")
    @Styles.Render("~/Content/default.css")



    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <style>
        .btn:hover {
            color: white !important;
        }
    </style>

</head>
<body>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="@Url.Content("/Scripts/modaldisplay.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/singleselectset.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/formvalidation.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/perfect-scrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/select2.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/main.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
