<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/reset.css")

    @Styles.Render("~/Content/formstyling.css")

    @Styles.Render("~/Content/approveDeny.css")
    @Styles.Render("~/Content/demo.css")
    @Styles.Render("~/Content/additional.css")
    @Styles.Render("~/Content/modal.css")

    @Styles.Render("~/Content/table/util.css")
    @Styles.Render("~/Content/table/main.css")
    @Styles.Render("~/Content/table/animate.css")
    @Styles.Render("~/Content/table/select2.min.css")
    @Styles.Render("~/Content/table/perfect-scrollbar.css")

    <!-- Bootstrap core CSS-->
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")

    <!-- Custom fonts for this template-->
    @Styles.Render("~/Content/vendor/fontawesome-free/css/all.min.css")

    <!-- Page level plugin CSS-->
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.css")

    <!-- Custom styles for this template-->
    @Styles.Render("~/Content/css/sb-admin.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/override.css")
    <!-- include libraries(jQuery, bootstrap) -->

    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">


</head>
<body>

    @Scripts.Render("~/bundles/jquery")

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="@Url.Content("/Content/vendor/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderBody()

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="@Url.Content("/Content/vendor/jquery-easing/jquery.easing.min.js")"></script>

    <!-- Page level plugin JavaScript-->
    <script type="text/javascript" src="@Url.Content("/Content/vendor/chart.js/Chart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/vendor/datatables/jquery.dataTables.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/vendor/datatables/dataTables.bootstrap4.js")"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="@Url.Content("/Content/js/sb-admin.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/approveDeny.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/modaldisplay.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/filtering.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/singleselectset.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/formvalidation.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/perfect-scrollbar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/select2.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/table/main.js")"></script>
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>


    @RenderSection("scripts", required: false)

</body>
</html>
